
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
@import '~bootstrap-table/dist/bootstrap-table.min.css';

.navbar-laravel {
  //background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.featured-image {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.grid-image {
    width: 100%;
    height: 22rem;
}

.grid-image a {
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

// This is used to fix the space-between problem on the last row
.grid::after {
    content: "";
    flex: 0 33.33%;
}
